body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: rgb(255, 255, 255);
  overflow: hidden;
  color: rgb(0, 0, 0);
}

/* Canvas partículas */
#particles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

/* Card */
.card {
  position: relative;
  z-index: 2;
  background: rgba(235, 233, 233, 0.9);
  border: 2px solid #ff004c;
  border-radius: 15px;
  padding: 40px;
  width: 90%;
  max-width: 500px;
  margin: 100px auto;
  text-align: center;
  box-shadow: 0 0 25px #ff004c;
}

/* BOTÕES */
button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 12px;
  background: rgb(255, 255, 255);
  border: 2px solid #ff004c;
  color: #ff004c;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #ff004c;
  color: black;
  transform: scale(1.05);
  box-shadow: 0 0 15px #ff004c;
}

/* GLITCH EFFECT */
.glitch {
  position: relative;
  font-size: 28px;
  color: #ff004c;
  letter-spacing: 2px;
  animation: glitch-skew 1s infinite linear alternate-reverse;
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
}

.glitch::before {
  animation: glitch 1s infinite linear alternate-reverse;
  color: #00fff9;
  z-index: -1;
}

.glitch::after {
  animation: glitch 0.8s infinite linear alternate-reverse;
  color: #ff00c8;
  z-index: -2;
}

@keyframes glitch {
  0% { transform: translate(0); }
  20% { transform: translate(-2px, 2px); }
  40% { transform: translate(-2px, -2px); }
  60% { transform: translate(2px, 2px); }
  80% { transform: translate(2px, -2px); }
  100% { transform: translate(0); }
}

@keyframes glitch-skew {
  0% { transform: skew(0deg); }
  50% { transform: skew(2deg); }
  100% { transform: skew(0deg); }
}



.heart::before,
.heart::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background: #ff004c;
  border-radius: 50%;
}

.heart::before {
  top: -30px;
  left: 0;
}

.heart::after {
  left: -30px;
  top: 0;
}

@keyframes pulse {
  0% { transform: rotate(45deg) scale(1); }
  50% { transform: rotate(45deg) scale(1.2); }
  100% { transform: rotate(45deg) scale(1); }
}
.admin-btn {
  position: fixed;
  top: 20px;
  right: 20px;

  width: 38px;
  height: 38px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(20,20,20,0.8);
  border: 1px solid rgba(255, 0, 76, 0.5);
  border-radius: 50%;

  color: #ff004c;
  font-size: 16px;

  cursor: pointer;
  transition: all 0.25s ease;

  z-index: 3;
}

.admin-btn:hover {
  background: #ff004c;
  color: rgb(0, 0, 0);
  transform: scale(1.1);
  box-shadow: 0 0 10px #ff004c;
}

.bg-img {
  position: fixed;
  width: 300px;
  opacity: 0.15; /* controla transparência */
  pointer-events: none; /* não interfere nos cliques */
  z-index: -1; /* fica atrás do conteúdo */
  filter: brightness(0.9) contrast(1.1);
}

/* canto esquerdo */
.img-left {
  bottom: 0;
  left: 0;
}

/* canto direito */
.img-right {
  top: 0;
  right: 0;
}

/* canto esquerdo superior */
.img-top-left {
  top: 0;
  left: 0;
}

/* canto esquerdo superior */
.img-top-left {
  top: 0;
  right: 0;
}
